.container {
  border: 2px solid;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  gap: 10em; /* space between elements in the row */
  justify-content: space-between; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}

header,
footer,
main {
  padding: 2rem;
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

section.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

article.post {
  border: 1px solid black;
  padding: 1rem;
}
article.post .controls {
  font-size: 12px;
}
article.post .author {
  font-size: 12px;
}
article.post p.message {
  font-size: 24px;
}

footer {
  margin-bottom: 5px;
}
